.DS_Store
/.build
build
/Packages
xcuserdata/
!Moc.xcodeproj/project.xcworkspace/xcshareddata/
Moc.xcodeproj/project.xcworkspace/xcshareddata/*
!Moc.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/
DerivedData/
contents.xcworkspacedata
*.resolved
Secret.swift
StringExtension.swift
Moc.app
Moc.dmg
dmgsrc/
